@font-face {
  font-family: "iconfont"; /* Project id 2995323 */
  src: url('iconfont.woff2?t=1648557885125') format('woff2'),
       url('iconfont.woff?t=1648557885125') format('woff'),
       url('iconfont.ttf?t=1648557885125') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
  content: "\e640";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-xiala1:before {
  content: "\e61e";
}

.icon-bangzhuzhongxin:before {
  content: "\e664";
}

.icon-shouye1:before {
  content: "\e8c6";
}

.icon-shuju:before {
  content: "\e651";
}

.icon-xiaoxi1:before {
  content: "\e65b";
}

.icon-guanli-fill:before {
  content: "\e6a3";
}

.icon-shipin1:before {
  content: "\e60a";
}

.icon-zhibo:before {
  content: "\e8c1";
}

.icon-fenxiang:before {
  content: "\e633";
}

.icon-jia:before {
  content: "\e60d";
}

.icon-pinglun:before {
  content: "\e7f5";
}

.icon-24gf-lock:before {
  content: "\e9d8";
}

.icon-zanwuzuopin:before {
  content: "\e616";
}

.icon-huanfu:before {
  content: "\e620";
}

.icon-yijianfankui:before {
  content: "\e60f";
}

.icon-shipin:before {
  content: "\e607";
}

.icon-xihuan:before {
  content: "\e8c3";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-xiaoxi:before {
  content: "\e68c";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-tuijian:before {
  content: "\e606";
}

.icon-shipinbofang:before {
  content: "\e600";
}

