@import "./dark/index.scss";
@import "./light/index.scss";

$themes: (
  dark: $theme-dark,
  light: $theme-light,
);

$theme-map: null;

@mixin themify() {
  @each $theme-name, $map in $themes {
    [data-theme="#{$theme-name}"] & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
    }
    @content;
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}